// Colors

$light-text-color: #fff;
$secondary-text-color: #8d8d8d;
$primary-color: #23a6f0;
$secondary-color: #f3cd03;
$primary-bg-color: #252b42;
$secondary-bg-color: #8ec2f2;
$success-color: #2dc071;
$alert-color: #e77c40;

// Const
$navbarHeight: 80px;
$reallyLongTime: 99999999999999999999999999999999999999999s;
